{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% include 'navbar.html' %}
{% block content %}
{% endblock %}
<!--
 <div class="imr">
        <abbr title="$25">
        <img src="{% static 'images/1.jpg' %}" class="i1">
        </abbr>
        <img src="{% static 'images/2.jpg' %}" class="i1">
         <img src="{% static 'images/4.jpg' %}" class="i1">
       <img src="{% static 'images/3.jpg' %}" class="i1">
        <img src="{% static 'images/5.jpg' %}" class="i1">
        <img src="{% static 'images/6.jpg' %}" class="i1">
        <img src="{% static 'images/7.jpg' %}" class="i1">
        <img src="{% static 'images/8.jpg' %}" class="i1">
        <img src="{% static 'images/9.jpg' %}" class="i1">
        <img src="{% static 'images/10.jpg' %}" class="i1">
        <img src="{% static 'images/11.jpg' %}" class="i1">
        <img src="{% static 'images/12.jpg' %}" class="i1">
        <img src="{% static 'images/13.jpg' %}" class="i1">
        <img src="{% static 'images/14.jpg' %}" class="i1">
        <img src="{% static 'images/15.jpg' %}" class="i1">
        <img src="{% static 'images/16.jpg' %}" class="i1">
    </div>-->
    <div>
        <marquee>
            <h3>Copyright@onlinebookstore</h3>
        </marquee>
    </div>
</body>
</html>